        *{
            font-family: 'Jua', sans-serif;
            font-family: 'Nanum Gothic', sans-serif;
            font-family: 'Sunflower', sans-serif;
        }
        .wrap{
            width: 500px;
            margin: auto;

        }
        .img{

            width: 500px;
            height: 500px;
            background-image: url("https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/macbook-pro-13-og-202011?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1604347427000");
            background-size: 100% 100%;
            margin: 30px auto 20px auto;
        }
        .btn{
            width: 100px;
            display: block;
            margin: auto;
        }
        .rate {
            color: blue;
        }

        .table{
            margin-top: 30px;
            text-align: center;
        }