        *{
            font-family: 'Jua', sans-serif;
            font-family: 'Nanum Gothic', sans-serif;
            font-family: 'Sunflower', sans-serif;
        }
        .wrap{
            width: 500px;
            margin: auto;

        }
        .img{

            width: 300px;
            height: 300px;
            background-image: url("https://search.pstatic.net/common/?src=https%3A%2F%2Fshopping-phinf.pstatic.net%2Fmain_8252067%2F82520675909.2.jpg&type=a340");
            margin: auto;
        }
        .btn{
            width: 100px;
            display: block;
            margin: auto;
        }
        .rate {
            color: blue;
        }

        .table{
            margin-top: 30px;
        }